/* =======================
    GLOBAL COLOR SYSTEM (design tokens)
    Used across all pages for consistency
    ====================== */
:root {
    --bg-main: #0F1115; /* main page background */
    --bg-secondary: #1A1F29; /* cards / navbar background */

    --text-main: #E6E6E6; /* default text color */

    --accent-gold: #C8A45C; /* primary accent (buttons, highlights) */
    --accent-bronze: #8B6F3D; /*  secondary accent (hover states) */

    --rarity-commom: #9E9E9E;
    --rarity-rare: #3A8DFF;
    --rarity-legendary: #C86BFA;
}

/* ==========================
    BASE PAGE STYLES 
    reset + global background
    ========================= */
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    color: var(--text-main);
}

/* =========================
    NAVBAR (top navigation across all pages)
    contains logo, links, and user area
    ======================== */
.navbar-nexus {
    background: var(--bg-secondary);
    backdrop-filter:  blur(4px);
    border-bottom: 1px solid var(--accent-bronze);
}

/* Logo sizing */ 
#img-logo {
    width: 60px;
    height: 60px;
}

/* Main navbar layout container */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px;
}

/* Right-side user area (login / user info) */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    border-left: 1px solid rgba(200, 164, 92, 0.3);
    min-width: 200px;
    justify-content: flex-end;
}

/* Navigation links (landings / store / inventory) */
.nav-links {
    display: flex;
    gap: 40px;
    margin-left: 300px;
}

.nav-links > a {
    text-decoration: none;
    font-size: 1.8em;
    color: var(--accent-gold);
    display: inline-block;
    transition: 0.3s ease;
}

/* Hover animation (slight lift effect */
.nav-links > a:hover {
    color: var(--accent-bronze);
    transform: translateY(-4px);
}

.cart {
    margin-left: auto;
    margin-right: 20px;
}

/* Shopping cart icon styling */
.cart i {
    font-size: 28px;
    color: var(--accent-gold);
    cursor: pointer;
    transition: 0.3s ease;
}

/* Hover animation (slight size effect) */
.cart i:hover {
    color: var(--accent-bronze);
    transform: scale(1.1);
}

/* Login/register button (also reused for user ui later) */
.login-btn {
    display: inline-flex;
    justify-content: center;
    background-color: var(--accent-gold);
    color: black;
    border-radius: 6px;
    padding: 10px 18px;
    font-size: 0.9em;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Hover feedback */
.login-btn:hover {
    background-color: var(--accent-bronze);
    transform: translateY(-2px);
}


/* ====================
    ITEM CARD  (store & inventory)
    represents a single item block
    =================== */
.item-card {
    background: var(--accent-gold);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid rgba(200, 164, 92, 0.2);
    transition: all 0.3s ease;
    width: 250px;
    height: 320px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* Hover interaction (lift + highlight) */
.item-card:hover {
    transform: translateY(-5px);
    border-color: var(--accent-gold);
}

.common {
    border-color: var(--rarity-commom);
    box-shadow: 0 0 8px rgba(158, 158, 158, 0.2);
}

.rare {
    border: 2px solid var(--rarity-rare);
    box-shadow: 
        0 0 10px rgba(58, 141, 255, 0.5),
        0 0 20px rgba(58, 141, 255, 0.2);
}

.rare:hover {
    box-shadow:
        0 0 15px rgba (58, 141, 255, 0.8),
        0 0 30px rgba(58, 141, 255, 0.4);
}

.legendary {
    border: 2px solid var(--rarity-legendary);
    box-shadow:
        0 0 12px rgba(200, 107, 250, 0.7),
        0 0 24px rgba(200, 107, 250 ,0.4),
        inset 0 0 10px rgba(255, 215, 0, 0.15);
}

.legendary:hover {
    box-shadow: 
        0 0 18px rgba(200, 107, 250, 1),
        0 0 35px rgba(200, 107, 250, 0.6),
        inset 0 0 12px rgba(255,215,0, 0.25);
}

.legendary::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 50%;
    height: 200%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.25), transparent);
    transform: rotate(25deg);
    animation: shine 3s infinite linear;
}

/* Position and style for the title of the card */
.card-title {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    margin: 0;
    color: var(--bg-main);
    font-size: 1.3em;
    line-height: 1.2;
    font-weight: bold;
    text-transform: capitalize;
    word-wrap: break-word;
}

/* Position and style for the power and gold */
.card-stats {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* styling for fitting the images inside the item-card */
.sword,
.spear,
.bow,
.dagger {
    background-size: 75%;
}

.shield {
    background-size: 65%;
}
.helmet {
    background-size: 50%;
}

.leggings {
    background-size: 50%;
}

.chest {
    background-size: 50%;
}

.arms {
    background-size: 50%;
}

.stat-power {
    color: #e72020; /* color for the power */
}

.stat-gold {
    color: #ffd700; /* color for the gold */
}

/* Style for the button with position a hover stats */
.buy-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    padding: 12px;

    border: 2px solid #8b6b1f;
    border-radius: 10px;

    background: linear-gradient(135deg, #d4af37, #f5d76e);
    color: #111;

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-btn:hover {
    transform: translateX(-50%) scale(1.05);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.buy-btn:active  {
    transform: translateX(-50%) scale(0.98);
}

/* pagination style with buttons */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;

}

.page-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: var(--bg-secondary);
    color: var(--accent-gold);
    font-weight: bold;
}

.active-page {
    background: var(--accent-gold);
    color: black;
}

.page-btn:hover {
    transform: translateY(-2px);
}

/* Sytling for the modal login register */
.modal {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.hidden {
    display: none;
}

.modal-content {
    background: var(--bg-secondary);
    color: var(--text-main);
    padding: 30px;
    border-radius: 16px;
    width: 450px;
    max-height: 80vh;
    overflow-y: auto;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--accent-gold);
}

#username-iput {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#auth-submit {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: var(--accent-gold);
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 18px;
    align-items: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--accent-gold);
}

#buy-cart-btn,
#clear-cart-btn,
#auth-submit {
    width: 100%;
    margin-top: 12px;
    padding: 12px;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#clear-cart-btn {
    background: #c0392b;
    color: white;
}

#buy-cart-btn,
#auth-submit {
    background: var(--accent-gold);
    color: black;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #c0392b;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart a {
    position: relative;
}

#logout-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: #c0392b;
    color: white;
    font-weight: bold;
}

#logout-btn:hover {
    opacity: 0.9;
}

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    z-index: 9999;
}

.toast {
    min-width: 250px;
    padding: 14px 18px;
    border-radius: 10px;

    color: white;
    font-weight: bold;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    animation: slideIn 0.3s ease;
}

.toast-success {
    background: #27ae60;
}

.toast-error {
    background: #c0392b;
}

.toast-info {
    background: #2980b9;
}

.cart-item {
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.cart-controls {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 10px;
}

.cart-controls button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.remove-btn {
    background: #c0392b;
    color: white;
}

.empty-cart {
    text-align: center;
    padding: 30px 20px;
    color: var(--text-main);
}

.empty-cart h3 {
    color: var(--accent-gold);
    margin-bottom: 8px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shine {
    from {
        left: -60%;
    }
    to {
        let: 130%;
    }
}
